<template name="dataentry">
  <h1>data entry</h1>
</template>

<template name="newHost">
	<h1 class="ui header title-color">
		<i class="settings icon"></i>
		<div class="content">
			New Host (Target)
		</div>
	</h1>

	{{#autoForm id="insertNewTHost" type="insert" collection="THosts"}}
	<!-- all the little form stuffs -->
	<div class="form-group">
		<label class="control-label title-color">{{afFieldLabelText name='ipv4Addr'}}</label>
		{{> afFieldInput name="ipv4Addr"}}
		<br />
		<label class="control-label title-color">{{afFieldLabelText name='ipv6Addr'}}</label>
		{{> afFieldInput name="ipv6Addr"}}
		<br />
		<label class="control-label title-color">{{afFieldLabelText name='macAddr'}}</label>
		{{> afFieldInput name="macAddr"}}
		<br />
		<label class="control-label title-color">{{afFieldLabelText name='nicVendor'}}</label>
		{{> afFieldInput name="nicVendor"}}
		<br />

		<!-- PORTS GO HERE!!! -->

		<!-- OS Fingerprint goes here -->
		<!-- <label class="control-label title-color">{{afFieldLabelText name='osFingerprint'}}</label>
		{{> afFieldInput name="osFingerprint"}}<br /> -->

		<label class="control-label title-color">{{afFieldLabelText name='region'}}</label>
		{{> afFieldInput name="region"}}
		<br />
		<label class="control-label title-color">{{afFieldLabelText name='country'}}</label>
		{{> afFieldInput name="country"}}
		<br />
		<label class="control-label title-color">{{afFieldLabelText name='latitude'}}</label>
		{{> afFieldInput name="latitude"}}
		<br />
		<label class="control-label title-color">{{afFieldLabelText name='longitude'}}</label>
		{{> afFieldInput name="longitude"}}
		<br />
	</div>
	<!-- submit/cancel buttons -->
	<div class="form-group">
		<div class="ui huge buttons">
			<div class="ui positive button" id="newHostSubmit">Submit</div>
			<div class="or"></div>
			<div class="ui button" id="newHostCancel">Cancel</div>
		</div>
  	</div>
  	{{/autoForm}}
</template>

<template name="newOs">
	<h1 class="ui header title-color">
		<i class="settings icon"></i>
		<div class="content">
			New Operating System (Target)
		</div>
	</h1>

	{{#autoForm id="insertNewTOperatingSystem" type="insert" collection="TOperatingSystems"}}
	<div class="form-group">
		<label class="control-label title-color">{{afFieldLabelText name='name'}}</label>
		{{> afFieldInput name='name'}}
		<br />
		<label class="control-label title-color">{{afFieldLabelText name='platform'}}</label>
		{{> afFieldInput name='platform'}}
		<br />
		<label class="control-label title-color">{{afFieldLabelText name='version'}}</label>
		{{> afFieldInput name='version'}}
		<br />
	</div>

	<!-- submit/cancel buttons -->
	<div class="form-group">
		<div class="ui huge buttons">
			<div class="ui positive button" id="newOperatingSystemSubmit">Submit</div>
			<div class="or"></div>
			<div class="ui button" id="newOperatingSystemCancel">Cancel</div>
		</div>
  	</div>
	{{/autoForm}}
</template>

<template name="newSoftware">
	<h1 class="ui header title-color">
		<i class="settings icon"></i>
		<div class="content">
			New Software (Target)
		</div>
	</h1>

	{{#autoForm id="insertNewTSoftware" type="insert" collection="TSoftwares"}}
	<div class="form-group">
		<label class="control-label title-color">{{afFieldLabelText name='name'}}</label>
		{{> afFieldInput name='name'}}
		<br />
		<label class="control-label title-color">{{afFieldLabelText name='platform'}}</label>
		{{> afFieldInput name='platform'}}
		<br />
		<label class="control-label title-color">{{afFieldLabelText name='version'}}</label>
		{{> afFieldInput name='version'}}
		<br />
	</div>

	<!-- submit/cancel buttons -->
	<div class="form-group">
		<div class="ui huge buttons">
			<div class="ui positive button" id="newSoftwareSubmit">Submit</div>
			<div class="or"></div>
			<div class="ui button" id="newSoftwareCancel">Cancel</div>
		</div>
  	</div>
	{{/autoForm}}
</template>

<template name="newUser">
	<h1 class="ui header title-color">
		<i class="settings icon"></i>
		<div class="content">
			New User (Target)
		</div>
	</h1>

	{{#autoForm id="insertNewTUser" type="insert" collection="TUsers"}}
	<div class="form-group">
		<label class="control-label title-color">{{afFieldLabelText name='fname'}}</label>
		{{> afFieldInput name='fname'}}
		<br />
		<label class="control-label title-color">{{afFieldLabelText name='mname'}}</label>
		{{> afFieldInput name='mname'}}
		<br />
		<label class="control-label title-color">{{afFieldLabelText name='lname'}}</label>
		{{> afFieldInput name='lname'}}
		<br />
		<label class="control-label title-color">{{afFieldLabelText name='title'}}</label>
		{{> afFieldInput name='title'}}
		<br />
		<label class="control-label title-color">{{afFieldLabelText name='username'}}</label>
		{{> afFieldInput name='username'}}
		<br />
		<label class="control-label title-color">{{afFieldLabelText name='email'}}</label>
		{{> afFieldInput name='email'}}
		<br />
		<label class="control-label title-color">{{afFieldLabelText name='password'}}</label>
		{{> afFieldInput name='password'}}
		<br />
		<label class="control-label title-color">{{afFieldLabelText name='passHash'}}</label>
		{{> afFieldInput name='passHash'}}
		<br />
		<label class="control-label title-color">{{afFieldLabelText name='type'}}</label>
		{{> afFieldInput name='type'}}
		<br />
		<label class="control-label title-color">{{afFieldLabelText name='leak'}}</label>
		{{> afFieldInput name='leak'}}
		<br />
		<label class="control-label title-color">{{afFieldLabelText name='hasPGPKey'}}</label>
		{{> afFieldInput name='hasPGPKey'}}
		<br />
		<label class="control-label title-color">{{afFieldLabelText name='region'}}</label>
		{{> afFieldInput name='region'}}
		<br />
		<label class="control-label title-color">{{afFieldLabelText name='country'}}</label>
		{{> afFieldInput name='country'}}
		<br />
		<label class="control-label title-color">{{afFieldLabelText name='vuln'}}</label>
		{{> afFieldInput name='vuln'}}
		<br />
	</div>

	<!-- submit/cancel buttons -->
	<div class="form-group">
		<div class="ui huge buttons">
			<div class="ui positive button" id="newOperatingSystemSubmit">Submit</div>
			<div class="or"></div>
			<div class="ui button" id="newOperatingSystemCancel">Cancel</div>
		</div>
  	</div>
	{{/autoForm}}
</template>

<template name="newCompany">
	<h1 class="ui header title-color">
		<i class="settings icon"></i>
		<div class="content">
			New Company (Target)
		</div>
	</h1>

	{{#autoForm id="insertNewTCompany" type="insert" collection="TCompanies"}}
	<div class="form-group">
		<label class="control-label title-color">{{afFieldLabelText name='company'}}</label>
		{{> afFieldInput name='company'}}
		<br />
		<label class="control-label title-color">{{afFieldLabelText name='description'}}</label>
		{{> afFieldInput name='description'}}
		<br />
	</div>

	<!-- submit/cancel buttons -->
	<div class="form-group">
		<div class="ui huge buttons">
			<div class="ui positive button" id="newCompanySubmit">Submit</div>
			<div class="or"></div>
			<div class="ui button" id="newCompanyCancel">Cancel</div>
		</div>
  	</div>
	{{/autoForm}}
</template>

<template name="newDomain">
	<h1 class="ui header title-color">
		<i class="settings icon"></i>
		<div class="content">
			New Domain (Target)
		</div>
	</h1>

	{{#autoForm id="insertNewTDomain" type="insert" collection="TDomains"}}
	<div class="form-group">
		<label class="control-label title-color">{{afFieldLabelText name='domain'}}</label>
		{{> afFieldInput name='domain'}}
		<br />
	</div>

	<!-- submit/cancel buttons -->
	<div class="form-group">
		<div class="ui huge buttons">
			<div class="ui positive button" id="newDomainSubmit">Submit</div>
			<div class="or"></div>
			<div class="ui button" id="newDomainCancel">Cancel</div>
		</div>
  	</div>
	{{/autoForm}}
</template>

<template name="newLeak">
	<h1 class="ui header title-color">
		<i class="settings icon"></i>
		<div class="content">
			New Leak (Target)
		</div>
	</h1>

	{{#autoForm id="insertNewTLeak" type="insert" collection="TLeaks"}}
	<div class="form-group">
		<label class="control-label title-color">{{afFieldLabelText name='leakId'}}</label>
		{{> afFieldInput name='leakId'}}
		<br />
		<label class="control-label title-color">{{afFieldLabelText name='description'}}</label>
		{{> afFieldInput name='description'}}
		<br />
		<label class="control-label title-color">{{afFieldLabelText name='sourceRefs'}}</label>
		{{> afFieldInput name='sourceRefs'}}
		<br />
		<label class="control-label title-color">{{afFieldLabelText name='leakType'}}</label>
		{{> afFieldInput name='leakType'}}
		<br />
		<label class="control-label title-color">{{afFieldLabelText name='title'}}</label>
		{{> afFieldInput name='title'}}
		<br />
		<label class="control-label title-color">{{afFieldLabelText name='importDate'}}</label>
		{{> afFieldInput name='importDate'}}
		<br />
		<label class="control-label title-color">{{afFieldLabelText name='leakDate'}}</label>
		{{> afFieldInput name='leakDate'}}
		<br />
		<label class="control-label title-color">{{afFieldLabelText name='attackers'}}</label>
		{{> afFieldInput name='attackers'}}
		<br />
		<label class="control-label title-color">{{afFieldLabelText name='numEntries'}}</label>
		{{> afFieldInput name='numEntries'}}
		<br />
		<label class="control-label title-color">{{afFieldLabelText name='score'}}</label>
		{{> afFieldInput name='score'}}
		<br />
		<label class="control-label title-color">{{afFieldLabelText name='numDomainsAffected'}}</label>
		{{> afFieldInput name='numDomainsAffected'}}
		<br />
		<label class="control-label title-color">{{afFieldLabelText name='attackMethod'}}</label>
		{{> afFieldInput name='attackMethod'}}
		<br />
		<label class="control-label title-color">{{afFieldLabelText name='targetIndustries'}}</label>
		{{> afFieldInput name='targetIndustries'}}
		<br />
		<label class="control-label title-color">{{afFieldLabelText name='passwordHash'}}</label>
		{{> afFieldInput name='passwordHash'}}
		<br />
		<label class="control-label title-color">{{afFieldLabelText name='targets'}}</label>
		{{> afFieldInput name='targets'}}
		<br />
		<label class="control-label title-color">{{afFieldLabelText name='mediaRefs'}}</label>
		{{> afFieldInput name='mediaRefs'}}
		<br />
	</div>

	<!-- submit/cancel buttons -->
	<div class="form-group">
		<div class="ui huge buttons">
			<div class="ui positive button" id="newLeakSubmit">Submit</div>
			<div class="or"></div>
			<div class="ui button" id="newLeakCancel">Cancel</div>
		</div>
  	</div>
	{{/autoForm}}
</template>

<template name="newLocation">
	<h1 class="ui header title-color">
		<i class="settings icon"></i>
		<div class="content">
			New Location (Target)
		</div>
	</h1>

	{{#autoForm id="insertNewTLocation" type="insert" collection="TLocations"}}
	<div class="form-group">
		<label class="control-label title-color">{{afFieldLabelText name='latitude'}}</label>
		{{> afFieldInput name='latitude'}}
		<br />
		<label class="control-label title-color">{{afFieldLabelText name='longitude'}}</label>
		{{> afFieldInput name='longitude'}}
		<br />
		<label class="control-label title-color">{{afFieldLabelText name='streetAddress'}}</label>
		{{> afFieldInput name='streetAddress'}}
		<br />
	</div>

	<!-- submit/cancel buttons -->
	<div class="form-group">
		<div class="ui huge buttons">
			<div class="ui positive button" id="newLocationSubmit">Submit</div>
			<div class="or"></div>
			<div class="ui button" id="newLocationCancel">Cancel</div>
		</div>
  	</div>
	{{/autoForm}}
</template>

<template name="newNetblock">
	<h1 class="ui header title-color">
		<i class="settings icon"></i>
		<div class="content">
			New Netblock (Target)
		</div>
	</h1>

	{{#autoForm id="insertNewTNetblock" type="insert" collection="TNetblocks"}}
	<div class="form-group">
		<label class="control-label title-color">{{afFieldLabelText name='netblock'}}</label>
		{{> afFieldInput name='netblock'}}
		<br />
	</div>

	<!-- submit/cancel buttons -->
	<div class="form-group">
		<div class="ui huge buttons">
			<div class="ui positive button" id="newNetblocksSubmit">Submit</div>
			<div class="or"></div>
			<div class="ui button" id="newNetblocksCancel">Cancel</div>
		</div>
  	</div>
	{{/autoForm}}
</template>

<template name="newVuln">
	<h1 class="ui header title-color">
		<i class="settings icon"></i>
		<div class="content">
			New Vulnerability (Target)
		</div>
	</h1>

	{{#autoForm id="insertNewTVuln" type="insert" collection="TVulns"}}
	<div class="form-group">
		<label class="control-label title-color">{{afFieldLabelText name='host'}}</label>
		{{> afFieldInput name='host'}}
		<br />
		<label class="control-label title-color">{{afFieldLabelText name='reference'}}</label>
		{{> afFieldInput name='reference'}}
		<br />
		<label class="control-label title-color">{{afFieldLabelText name='example'}}</label>
		{{> afFieldInput name='example'}}
		<br />
		<label class="control-label title-color">{{afFieldLabelText name='publishDate'}}</label>
		{{> afFieldInput name='publishDate'}}
		<br />
		<label class="control-label title-color">{{afFieldLabelText name='category'}}</label>
		{{> afFieldInput name='category'}}
		<br />
		<label class="control-label title-color">{{afFieldLabelText name='status'}}</label>
		{{> afFieldInput name='status'}}
		<br />
	</div>

	<!-- submit/cancel buttons -->
	<div class="form-group">
		<div class="ui huge buttons">
			<div class="ui positive button" id="newVulnSubmit">Submit</div>
			<div class="or"></div>
			<div class="ui button" id="newVulnCancel">Cancel</div>
		</div>
  	</div>
	{{/autoForm}}
</template>