
<template name="hosts">
  {{> hostsTable}}
</template>

<template name="hostsTable">
	<table class="ui inverted table segment">
		{{> hostsTableHeader}}
		{{> hostsTableBody}}
  	</table>
</template>

<template name="hostsTableHeader">
	<thead>
		<tr><th>Hostname</th>
		    <th>IPv4</th>
		    <th>IPv6</th>
		    <th>MAC</th>
		    <th>NIC Vendor</th>
	  	</tr>
  </thead>
</template>

<template name="hostsTableBody">
	<tbody>
		{{> hostsData}}
	</tbody>
</template>

<template name="hostsTableRow">
<!-- //TODO: the {{}} stuff goes here once we have something being pulled from the collection via JS -->

</template>

<template name="hostsData">
	{{#each entries}}
		<tr>
			<td>{{this.hostname}}</td>
			<td>{{this.ipv4Addr}}</td>
			<td>{{this.ipv6Addr}}</td>
			<td>{{this.macAddr}}</td>
			<td>{{this.nicVendor}}</td>
		</tr>
	{{/each}}
</template>