<template name="masterLayout">
	<div class="layout master-layout {{$.Session.get 'sidebar'}}">
		{{>header}}
		{{#if currentUser}}
			{{> sidebarMenus}}
		{{/if}}

		<div class="container close-navbar" id="mainArea">
			<div class="col-md-12">
				{{> yield }}
			</div>
		</div>

	</div>
	{{> footer}}
	{{> autoformModals}}
</template>

<!-- /***********/ SUPPLEMENT TEMPLATES BELOW /************/ -->

<template name="sidebarMenus">
	<div class="row">
		<div class="ui grid">
			<div class="left floated two wide column">
				<div class="ui black huge right attached button" id="leftSideBarToggle">
					<i class="align justify icon"></i>
				</div>
				{{> leftSideBar}}
			</div>
			<div class="right floated one wide column">
				<div class="ui black huge left attached button" id="chatBarToggle">
					<i class="comment icon"></i>
				</div>
				{{> chatBar}}
			</div>
		</div>
	</div>
</template>

<template name="chatBar">
	<div class="ui right sidebar" id="chatBar">
		{{> chat}}
	</div>
</template>

<template name="chat">
		{{> chatBox}}
		{{> chatInput}}
</template>

<template name="chatBox" class="">
	<a href="#" class="btn btn-danger" id="opener-a">
		<h2>
		<span id="opener-char" class="glyphicon glyphicon-comment"></span>
		</h2>
	</a>
	<div id="chat-message">
		{{#each messages}}
			{{> chatMessage}}<br />
		{{/each}}
	</div>
</template>

<template name='chatMessage'>
	<b>{{ownerEmail}}</b>: {{message}}
</template>

<template name="chatInput">
	<div class="input-group input-group-sm" id="chat-input">
		<span class="input-group-addon"><span class="glyphicon glyphicon-chevron-right"></span></span>
		<input type="text" id="send" class="form-control" placeholder="message">
	</div>
</template>

<template name="leftSideBar">
	<div class="ui sidebar" id="leftSideBar">
		<div class="ui fluid vertical menu">
		  <div class="item">
		    <div class="ui input"><input placeholder="Search..." type="text"></div>
		  </div>
		  <div class="item">
		    <i class="grid layout icon"></i> Data Entry
		    <div class="menu">
		      <a class="item" href="/dataentry/host">Host</a>
		      <a class="item" href="/dataentry/os">OS</a>
		      <a class="item" href="/dataentry/software">Software</a>
		      <a class="item" href="/dataentry/user">User</a>
		    </div>
		  </div>
		  <div class="item">
		    <i class="mail icon"></i> Information
		    <div class="menu">
		    	<a class="item" href="{{pathFor 'osinfo'}}">OS Info</a>
		    	<a class="item" href="{{pathFor 'softwareinfo'}}">Software Info</a>
		    	<a class="item" href="{{pathFor 'nettoolinfo'}}">Network Tool Info</a>
		    </div>
		  </div>
		</div>
	</div>
</template>