<template name="masterLayout">
	<div class="layout master-layout {{$.Session.get 'sidebar'}}">
		{{>header}}
		<div class="container close-navbar" id="mainArea">
			<div class="col-md-11">
			{{> yield }}
			</div>
			{{#if currentUser}}
				{{> leftSideBar}}
				<div class="col-md-1">
					<div class="opener">
						<font color="#ffffff"><span class="glyphicon glyphicon-comment"></span><p>Toggle</p><p>Toggle2</p></font>
					</div>
				    <div id="chatBox">
					    {{> chat}}
					</div>
			    </div>
			{{/if}}
		</div>
		<div class="push"></div>
	</div>
	{{> footer}}
	{{> autoformModals}}
</template>

<template name="chat">
		{{> chatBox}}
		{{> chatInput}}
</template>

<template name="chatBox" class="">
	<a href="#" class="btn btn-danger" id="opener-a">
		<h2>
		<span id="opener-char" class="glyphicon glyphicon-comment"></span>
		</h2>
	</a>
	<div id="chat-message">
		{{#each messages}}
			{{> chatMessage}}<br />
		{{/each}}
	</div>
</template>

<template name='chatMessage'>
	<b>{{ownerEmail}}</b>: {{message}}
</template>

<template name="chatInput">
	<div class="input-group input-group-sm" id="chat-input">
		<span class="input-group-addon"><span class="glyphicon glyphicon-chevron-right"></span></span>
		<input type="text" id="send" class="form-control" placeholder="message">
	</div>
</template>

<template name="leftSideBar">
	<div class="ui thin sidebar">
		<a class="item">
		    <i class="home icon"></i>
		    Home
	  	</a>
		<a class="active item">
		    <i class="heart icon"></i>
		    Current Section
		  </a>
		  <a class="item">
		    <i class="facebook icon"></i>
		    Like us on Facebook
		  </a>
		  <div class="item">
		    <b>More</b>
		    <div class="menu">
		      <a class="item">About</a>
		      <a class="item">Contact Us</a>
		    </div>
		  </div>
	</div>
</template>