
<template name="targetusers">
  {{> usersTable}}
</template>

<template name="usersTable">
	<table class="ui inverted table segment">
		{{> usersTableHeader}}
		{{> usersTableBody}}
  	</table>
</template>

<template name="usersTableHeader">
	<thead>
		<tr><th>Username</th>
		    <th>First | Last</th>
		    <th>Email</th>
		    <th>Region</th>
		    <th>Country</th>
	  	</tr>
  </thead>
</template>

<template name="usersTableFooter">
	<tfoot>
	    <tr>
	    	<th>3 People</th>
		    <th>2 Approved</th>
		    <th></th>
	  </tr>
  </tfoot>
</template>

<template name="usersTableBody">
	<tbody>
		<!-- <tr>
	      <td>kookyuser</td>
	      <td>Jack Sparrow</td>
	      <td>onewickedwench@EITC.com</td>
	      <td>pirate</td>
	      <td>NO</td>
	    </tr>
	    <tr>
	      <td>mulch</td>
	      <td>John Doe</td>
	      <td>the.legend@email.com</td>
	      <td>adsf0923m  sd</td>
	      <th>YES</th>
	    </tr> -->
	    {{#each entries}}
		<tr>
			<td>{{this.username}}</td>
			<td>{{this.fname}} {{this.lname}}</td>
			<td>{{this.email}}</td>
			<td>{{this.region}}</td>
			<td>{{this.country}}</td>
		</tr>
		{{/each}}
	</tbody>
</template>

<template name="usersTableRow">
<!-- //TODO: the {{}} stuff goes here once we have something being pulled from the collection via JS -->
</template>