<template name="MasterLayout">
	<div class="navbar navbar-static-top">
		<div class="container">
			<a class="navbar-brand title-color" href="{{pathFor 'home'}}">TMP</a>

			{{#if currentUser}}
				{{> navigation}}
			{{/if}}

			<div class="nav pull-right">
				<ul class="nav pull-right">
					{{> loginButtons }}
				</ul>
			</div>
		</div>
	</div>
	{{> leftSideBar}}
	{{> rightSideBar}}

	<div class="col-sm-9">
		{{> yield}}
	</div>
</template>

<template name="navigation">
	<ul class="nav navbar-nav">
		<li><a href="{{pathFor 'profile'}}" class="title-color">Profile</a></li>
		<li><a href="{{pathFor 'dashboard'}}" class="title-color">Dashboard</a></li>
		<li><a href="{{pathFor 'softwareinfo'}}" class="title-color">Software Info</a></li>
		<li><a href="{{pathFor 'osinfo'}}" class="title-color">OS Info</a></li>
		<li><a href="{{pathFor 'admin'}}" class="title-color">Admin</a></li>
	</ul>
</template>

<template name="leftSideBar">
<!-- sauce: http://bootsnipp.com/snippets/featured/navigation-sidebar-with-toggle -->
	<div id="sidebar-wrapper" class="col-sm-3 text-success">
      <ul id="sidebar_menu" class="sidebar-nav">
           <li class="sidebar-brand"><a id="menu-toggle" href="#">Menu<span id="main_icon" class="glyphicon glyphicon-align-justify"></span></a></li>
      </ul>
        <ul class="sidebar-nav" id="sidebar">
          <li><a href="{{pathFor 'upload'}}">Upload<span class="glyphicon glyphicon-upload"></span></a></li>
          <li><a href="{{pathFor 'hosts'}}">Hosts<span class="glyphicon glyphicon-globe"></span></a></li>
          <li><a href="{{pathFor 'pushpins'}}">Pushpins<span class="glyphicon glyphicon-pushpin"></span></a></li>
          <li><a href="{{pathFor 'targetusers'}}">TargetUsers<span class="glyphicon glyphicon-user"></span></a></li>
        </ul>
    </div>
</template>

<template name="rightSideBar">
	<div id="sidebar-wrapper" class="col-lg-3 visible-lg text-info pull-right">
      {{> chat}}
      <br />
      {{> recentActivity}}
    </div>
</template>

<template name="chat">
<!-- chat application stuff here -->
	<div class="container">
		<h3><span class="label label-info">TMP Chat</span></h3>
		{{> chatBox}}
		{{> chatInput}}
	</div>
</template>

<template name="chatBox">
	<div id="chat-message">
		{{#each messages}}
			{{> chatMessage}}<br />
		{{/each}}
	</div>
</template>

<template name='chatMessage'>
	<b>{{user}}</b>: {{message}}
</template>

<template name="chatInput">
	<div class="input-group input-group-sm" id="chat-input">
		<span class="input-group-addon"><span class="glyphicon glyphicon-chevron-right"></span></span>
		<input type="text" id="send" class="form-control" placeholder="message">
	</div>
</template>

<template name="recentActivity">
<!-- recent activity 'log' goes here -->
	<div class="container">
		<h3><span class="label label-info">Recent Activity</span></h3>
		<textarea id="activity-area"></textarea><br />
	</div>
</template>



