<template name="MasterLayout">
	<div class="navbar navbar-static-top">
		<div class="container">
			<a class="navbar-brand title-color" href="{{pathFor 'home'}}">TMP</a>

			{{#if currentUser}}
				{{> navigation}}
			{{/if}}

			<div class="nav pull-right">
				<ul class="nav pull-right">
					{{> loginButtons }}
				</ul>
			</div>
		</div>
	</div>
	{{> leftSideBar}}
	{{> rightSideBar}}

	<div class="container col-sm-9">
		{{> yield}}
	</div>
</template>

<template name="navigation">
	<ul class="nav navbar-nav">
		<li><a href="{{pathFor 'profile'}}" class="title-color">Profile</a></li>
		<li><a href="{{pathFor 'dashboard'}}" class="title-color">Dashboard</a></li>
		<li><a href="{{pathFor 'softwareinfo'}}" class="title-color">Software Info</a></li>
		<li><a href="{{pathFor 'osinfo'}}" class="title-color">OS Info</a></li>
		<li><a href="{{pathFor 'admin'}}" class="title-color">Admin</a></li>
	</ul>
</template>

<template name="leftSideBar">
<!-- sauce: http://bootsnipp.com/snippets/featured/navigation-sidebar-with-toggle -->
	<div id="sidebar-wrapper" class="col-sm-3 text-success">
      <ul id="sidebar_menu" class="sidebar-nav">
           <li class="sidebar-brand"><a id="menu-toggle" href="#">Menu<span id="main_icon" class="glyphicon glyphicon-align-justify"></span></a></li>
      </ul>
        <ul class="sidebar-nav" id="sidebar">
          <li><a href="{{pathFor 'upload'}}">Upload<span class="glyphicon glyphicon-upload"></span></a></li>
          <li><a href="{{pathFor 'hosts'}}">Hosts<span class="glyphicon glyphicon-globe"></span></a></li>
          <li><a href="{{pathFor 'pushpins'}}">Pushpins<span class="glyphicon glyphicon-pushpin"></span></a></li>
          <li><a href="{{pathFor 'targetusers'}}">TargetUsers<span class="glyphicon glyphicon-user"></span></a></li>
        </ul>
    </div>
</template>

<template name="rightSideBar">
	<div id="sidebar-wrapper" class="col-lg-3 visible-lg text-info pull-right">
      {{> chat}}
      <br />
      {{> recentActivity}}
    </div>
</template>

<template name="chat">
<!-- chat application stuff here -->
	<div class="container">
		<p>TMP Chat</p>
		{{> chatBox}}
	</div>
</template>

<template name="chatBox">
	<div id="messages">
		{{#each messages}}
			{{> chatMessage}}
		{{/each}}
	</div>
	<textarea id="chat-message"></textarea><br />
	<button class="btn btn-primary" id="send">Send</button>
</template>

<template name='chatMessage'>
	<div>
		<b>{{user}}:</b> {{message}}
	</div>
</template>

<template name="recentActivity">
<!-- recent activity 'log' goes here -->
	<p>Recent Activity</p>
</template>



