<template name="MasterLayout">
	<div class="navbar navbar-static-top">
		<div class="container">
			<a class="navbar-brand title-color" href="{{pathFor 'home'}}">TMP</a>

			{{#if currentUser}}
				{{> navigation}}
			{{/if}}

			<div class="nav pull-right">
				<ul class="nav pull-right">
					{{> loginButtons }}
				</ul>
			</div>
		</div>
	</div>
	{{> sideNavigation}}

	<div class="container">
		{{> yield}}
	</div>
</template>

<template name="navigation">
	<ul class="nav navbar-nav">
		<li><a href="{{pathFor 'profile'}}" class="title-color">Profile</a></li>
		<li><a href="{{pathFor 'upload'}}" class="title-color">Upload</a></li>
		<li><a href="{{pathFor 'admin'}}" class="title-color">Admin</a></li>
		<li><a href="{{pathFor 'hosts'}}" class="title-color">Hosts</a></li>
		<li><a href="{{pathFor 'dashboard'}}" class="title-color">Dashboard</a></li>
		<li><a href="{{pathFor 'pushpins'}}" class="title-color">Pushpins</a></li>
		<li><a href="{{pathFor 'softwareinfo'}}" class="title-color">SoftwareInfo</a></li>
		<li><a href="{{pathFor 'osinfo'}}" class="title-color">OSInfo</a></li>
		<li><a href="{{pathFor 'targetusers'}}" class="title-color">TargetUsers</a></li>
	</ul>
</template>

<template name="sideNavigation">
<!-- sauce: http://bootsnipp.com/snippets/featured/navigation-sidebar-with-toggle -->
	<div id="sidebar-wrapper">
      <ul id="sidebar_menu" class="sidebar-nav">
           <li class="sidebar-brand"><a id="menu-toggle" href="#">Menu<span id="main_icon" class="glyphicon glyphicon-align-justify"></span></a></li>
      </ul>
        <ul class="sidebar-nav" id="sidebar">
          <li><a>Link1<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
          <li><a>link2<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
        </ul>
    </div>
</template>
