
<template name="leaks">
	<div class="ui icon message">
	  <i class="notched circle loading icon"></i>
	  <div class="content">
	    <div class="header">
	      Notice of Future Development
	    </div>
	    <p>Parsing 'leak' data from recon-ng is supported, however the developers of TMP are but students ("mere muggles"). Therefore, we could not afford the increased development costs of purchasing API keys from PwnedList in order to test the necessary modules within recon-ng. So, we simply provide a table.</p>
	  </div>
	</div>
</template>

