<template name="dashboard">
	<div class="container">
		{{> hostsChart}}
		<br />
		<!-- <div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-3">
				{{> topOSList}}
			</div>
			<div class="col-md-1"></div>
			<div class="col-md-3">
				{{> topSoftwareList}}
			</div>
			<div class="col-md-2"></div>
		</div> -->

		<div class="ui three column grid">
			<div class="column">
				<div class="ui horizontal segment">
				{{> topOSList}}
				</div>
			</div>
			<div class="column">
				<div class="ui horizontal segment">
				<p>Top Users</p>
				</div>
			</div>
			<div class="column">
				<div class="ui horizontal segment">
				{{> topSoftwareList}}
				</div>
			</div>
		</div>
	</div>
</template>

<template name="hostsChart">
	<div id="hosts-chart-container" class="jumbotron" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
</template>

<template name="topOSList">
	<div class="ui segment">
		{{> osList}}
	</div>
</template>

<template name="topSoftwareList">
	<div class="ui segment">
		{{> softwareList}}
	</div>
</template>

<template name="osList">
	<div id="os-pie-chart" style="min-width: 210px; height: 350px; max-width: 600px; margin: 0 auto"></div>
</template>

<template name="softwareList">
	<div id="software-pie-chart" style="min-width: 210px; height: 350px; max-width: 600px; margin: 0 auto"></div>
</template>