<template name="dashboard">
	<div class="container">
		{{> hostsChart}}
		<br />
		<!-- <div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-3">
				{{> topOSList}}
			</div>
			<div class="col-md-1"></div>
			<div class="col-md-3">
				{{> topSoftwareList}}
			</div>
			<div class="col-md-2"></div>
		</div> -->
		<div class="ui three column grid">
			<div class="column">
				{{> topOSList}}
			</div>
			<div class="column">
				{{> topSoftwareList}}
			</div>
			<div class="column">
				{{> topUsersList}}
			</div>
		</div>
	</div>
</template>

<template name="hostsChart">
	<div id="hosts-chart-container" class="jumbotron" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
</template>

<template name="topOSList">
	<div class="ui horizontal segment">
		{{> osList}}
	</div>
</template>

<template name="topSoftwareList">
	<div class="ui horizontal segment">
		{{> softwareList}}
	</div>
</template>

<template name="topUsersList">
	<div class="ui horizontal segment">
		{{> userList}}
	</div>
</template>

<template name="osList">
	<h1 class="ui header">Top OS Hits</h1>
	<div class="ui list">
		<a class="item">
			<i class="right triangle icon"></i>
			OS 1
		</a>
		<a class="item">
			<i class="right triangle icon"></i>
			OS 2
		</a>
		<a class="item">
			<i class="right triangle icon"></i>
			OS 3
		</a>
	</div>
</template>

<template name="softwareList">
	<h1 class="ui header">Top Software Hits</h1>
	<div class="ui list">
		<a class="item">
			<i class="right triangle icon"></i>
			Soft 1
		</a>
		<a class="item">
			<i class="right triangle icon"></i>
			Soft 2
		</a>
		<a class="item">
			<i class="right triangle icon"></i>
			Soft 3
		</a>
	</div>
</template>

<template name="userList">
	<h1 class="ui header">Top Users Found</h1>
	<div class="ui list">
		<a class="item">
			<i class="right triangle icon"></i>
			User 1
		</a>
		<a class="item">
			<i class="right triangle icon"></i>
			User 2
		</a>
		<a class="item">
			<i class="right triangle icon"></i>
			User 3
		</a>
	</div>
</template>