
<template name="upload">
  <form name="uploadForm">

    <div class="ui grid">
      <div class="two column row">
        <div class="left floated column">
          {{> fileSelect}}
        </div>
        <div class="column">
          {{> selectDropdown}}
        </div>
      </div>

      <!-- <div class="row">
          <div class="ui progress">
            <div class="bar">
              <div class="progress"></div>
            </div>
            <div class="label">Uploading Files</div>
          </div>
      </div> -->

      <div class="three column row">
        <div class="column">
          {{> uploadButton}}
        </div>
        {{#if isInRole 'admin'}}
        <div class="column">
          <div id="removeAll" class="ui inverted red button">Remove All Files</div>
        </div>
        {{/if}}
      </div>
    </div>

	</form>

  <div class="ui inverted segment">
    <h1 class="ui header">
      Uploaded Files
    </h1>
  </div>
  {{> files}}
</template>

<!-- /////////  SUPPLEMENTAL TEMPLATES BELOW  ///////// -->

<template name="fileSelect">
  <div class="ui fluid icon input">
    <input placeholder="Select file(s)..." id="fileInput" type="file" multiple="multiple">
    <i class="search icon"></i>
    {{> pointingInfo}}
  </div>
</template>

<template name="pointingInfo">
  <div class="ui pointing label">
    xml -- nmap output ONLY | csv -- recon-ng output ONLY
  </div>
</template>

<template name="selectDropdown">
  <select name="recon-ng-info-type" class="ui search selection dropdown" id="select-reconng-info">
    <option value="default">Recon-ng Table</option>
    <option value="companies">Companies</option>
    <option value="contacts">Contacts</option>
    <option value="credentials">Credentials</option>
    <option value="domains">Domains</option>
    <option value="hosts">Hosts</option>
    <option value="leaks">Leaks</option>
    <option value="locations">Locations</option>
    <option value="netblocks">Netblocks</option>
    <option value="ports">Ports</option>
    <option value="pushpins">Pushpins</option>
    <option value="vulnerabilities">Vulnerabilities</option>
  </select>
</template>

<template name="uploadButton">
  <div id="upload-button" class="ui inverted blue button">Upload</div>
</template>

<template name="files">
	<div id="files">
	<table class="ui table segment" id="example">

    <thead>
       <tr>
          <th>Name</th>
          <th>Size (bytes)</th>
          <th>Extension</th>
        </tr>
    </thead>
    <tbody>
		{{#each files}}
		<tr class="gradeX">
          <td>{{this.name}}</td>
          <td>{{this.size}}</td>
          <td>{{this.extension}}</td>
        </tr>
		{{/each}}
    </tbody>
    </table>

	</div>
</template>